@import "../../../assets/styles/main";

#navigation-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 0;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.11);
  background-color: @navigation-background-color;
  position: relative;
  z-index: 50;
  .sm-block({ justify-content: flex-end; align-items: flex-start });

  ul.navigation {
    &.invisible { display: none; }
    &:not(.invisible){
      display: block;
    }
    .sm-block({ display: none; });
    li.nav-element {
      float: left;
      .sm-block({ float: none; });
      a {
        display: block;
        position: relative;
        padding: 10px 35px;
        color: @navigation-links-color;
        font-family: @font-family;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: @font-weight-bold;
        letter-spacing: 2px;

        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          color: transparent;
          content: '\2022';
          text-shadow: 0 0 transparent;
          font-size: 2em;
          .transition();
          transform: translateX(-50%);
          pointer-events: none;
        }

        &:not(.active):hover::before {
          color: @navigation-links-hover-color;
          text-shadow: 15px 0 @navigation-links-hover-color, -15px 0 @navigation-links-hover-color;
          .transition();
        }

        &.active {
          color: @navigation-links-active-color;
        }
      }
    }
  }

  div.menu-bar {
    ul li.menu-icon {
      display: none;
      fill: @navigation-links-color;
      padding-right: 15px;
      .sm-block({ display: block; });
    }
  }
}

