<div class="row">
  <div class="description">
    <h3>Gormet All Beef Hotdogs</h3>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
    </p>
  </div>
  <div class="presentation">
    <img src="assets/images/presentation-1.png">
  </div>
</div>
<div class="row">
  <div class="description">
    <h3>Vegan Hotdogs</h3>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
    </p>
  </div>
  <div class="presentation">
    <img src="assets/images/presentation-2.png">
  </div>
</div>
<div class="row">
  <div class="description">
    <h3>Vegitarian Hotdogs</h3>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
    </p>
  </div>
  <div class="presentation">
    <img src="assets/images/presentation-3.png">
  </div>
</div>